openapi: 3.0.1
info:
  title: core-common-config-mgmt
  description: Common Platform Config Management Core Application
  contact:
    name: Firefly Software Foundation
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.getfirefly.io/config
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: Channel Config Parameters
    description: Dynamic configuration parameters for channels
  - name: Provider Parameters
    description: API for managing provider parameters and configuration
  - name: Tenant Management
    description: Manage logical tenant separations in Firefly core banking. Tenants enable multi-tenancy where different banking organizations share infrastructure while maintaining separate configurations, providers, branding, and operational settings. Use these APIs to create, configure, and manage tenant instances, their provider relationships, and access tenant-specific resources like settings and branding.
  - name: Channel Configuration
    description: APIs for managing channel configurations (Web Banking, Mobile, ATM, etc.)
  - name: Provider Statuses
    description: API for managing provider statuses
  - name: Tenant Statuses
    description: API for managing tenant statuses
  - name: Webhook Configuration
    description: Configure event-driven HTTP callbacks for real-time notifications. Webhooks enable Firefly to push events (payments, account changes, KYC updates, fraud alerts) to external systems in real-time. Configure target URLs, authentication (HMAC, OAuth2, API keys), event filtering, retry policies with exponential backoff, batching, circuit breakers, and SSL verification. Monitor webhook health, delivery success rates, response times, and troubleshoot failures with detailed metrics.
  - name: Provider Types
    description: API for managing provider types
  - name: Tenant Settings
    description: API for managing tenant operational settings including rate limiting, security policies, circuit breakers, and compliance
  - name: Provider Management
    description: Manage external service provider integrations for Firefly core banking. Providers are third-party services that Firefly integrates with to deliver banking capabilities such as payment processing, KYC/AML verification, card issuing, fraud detection, and more. Use these APIs to register providers, configure API endpoints, manage credentials, track SLAs, monitor health status, and maintain provider contracts and certifications.
  - name: Feature Flags
    description: API for managing feature flags and feature toggles
  - name: Provider-Tenant Relationships
    description: Manage provider integration configurations for specific tenants. Provider-Tenant relationships define how a tenant uses an external service provider, including tenant-specific configuration overrides, billing models (transaction-based, volume-based, flat-fee), priority for load balancing, failover settings, circuit breaker thresholds, transaction limits, and usage tracking. Use these APIs to associate providers with tenants, configure relationship settings, monitor usage metrics, and manage provider failover strategies.
  - name: Provider Value Mappings
    description: API for managing value mappings between Firefly and providers
  - name: Environment Configurations
    description: API for managing environment-specific configurations (dev, staging, production)
  - name: Tenant Brandings
    description: API for managing tenant branding and visual configuration
  - name: Configuration Audits
    description: API for managing configuration audit trail with rollback capabilities
paths:
  /api/v1/webhook-configs/{id}:
    get:
      tags:
        - Webhook Configuration
      summary: Retrieve webhook configuration by ID
      description: Fetches complete webhook configuration including target URL, event filters, authentication settings, retry policies, batching configuration, circuit breaker settings, and delivery metrics (success rate, average response time, failure count). Sensitive fields like secret keys are masked in the response.
      operationId: getWebhookConfigById
      parameters:
        - name: id
          in: path
          description: Unique identifier (UUID) of the webhook configuration to retrieve
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Webhook configuration successfully retrieved
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookConfigDTO'
        '403':
          description: Access denied - Insufficient permissions to view this webhook configuration
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookConfigDTO'
        '404':
          description: Webhook configuration not found - The specified webhook ID does not exist
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookConfigDTO'
    put:
      tags:
        - Webhook Configuration
      summary: Update existing webhook configuration
      description: Updates webhook configuration including URL, event filters, authentication settings, retry policies, and circuit breaker thresholds. Uses optimistic locking to prevent concurrent modifications. Changing authentication settings or URL may require re-verification. Delivery metrics are preserved but can be reset if needed. Disabling a webhook stops event delivery but preserves configuration.
      operationId: updateWebhookConfig
      parameters:
        - name: id
          in: path
          description: ID of the webhook configuration to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookConfigDTO'
        required: true
      responses:
        '200':
          description: Webhook configuration successfully updated - Returns updated webhook with new version number
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookConfigDTO'
        '400':
          description: Invalid input - Validation errors or business rule violations
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookConfigDTO'
        '404':
          description: Webhook configuration not found - The specified webhook ID does not exist
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookConfigDTO'
        '409':
          description: Conflict - Version mismatch due to concurrent modification
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookConfigDTO'
    delete:
      tags:
        - Webhook Configuration
      summary: Delete a webhook configuration
      operationId: deleteWebhookConfig
      parameters:
        - name: id
          in: path
          description: ID of the webhook configuration to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Webhook configuration deleted
        '404':
          description: Webhook configuration not found
  /api/v1/tenants/{tenantId}/providers/{id}:
    get:
      tags:
        - Tenant Management
      summary: Get tenant-provider relationship details
      description: Retrieves detailed configuration of a specific provider-tenant relationship including configuration overrides, billing settings, usage metrics, health status, and failover configuration.
      operationId: getTenantProviderById
      parameters:
        - name: tenantId
          in: path
          description: ID of the tenant
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the provider-tenant relationship to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
        '404':
          description: Provider-tenant relationship not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
    put:
      tags:
        - Tenant Management
      summary: Update a provider-tenant relationship
      description: Updates a provider-tenant relationship for a specific tenant and returns it
      operationId: updateTenantProvider
      parameters:
        - name: tenantId
          in: path
          description: ID of the tenant
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the provider-tenant relationship to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderTenantDTO'
        required: true
      responses:
        '200':
          description: Provider-tenant relationship updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
        '404':
          description: Provider-tenant relationship not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
    delete:
      tags:
        - Tenant Management
      summary: Remove a provider from a tenant
      description: Deletes a provider-tenant relationship for a specific tenant
      operationId: removeTenantProvider
      parameters:
        - name: tenantId
          in: path
          description: ID of the tenant
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the provider-tenant relationship to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Provider removed from tenant
        '404':
          description: Provider-tenant relationship not found
  /api/v1/tenants/{id}:
    get:
      tags:
        - Tenant Management
      summary: Retrieve tenant by ID
      description: Fetches complete tenant information including legal entity details, hierarchical structure, risk ratings, compliance tier, subscription details, and contact information. Returns 404 if tenant does not exist or is not accessible.
      operationId: getTenantById
      parameters:
        - name: id
          in: path
          description: Unique identifier (UUID) of the tenant to retrieve
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Tenant successfully retrieved
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantDTO'
        '403':
          description: Access denied - Insufficient permissions to view this tenant
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantDTO'
        '404':
          description: Tenant not found - The specified tenant ID does not exist or has been deleted
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantDTO'
    put:
      tags:
        - Tenant Management
      summary: Update existing tenant
      description: Updates tenant information including legal entity details, contact information, risk ratings, compliance settings, subscription details, and metadata. Uses optimistic locking via version field to prevent concurrent modification conflicts. All fields except ID and audit timestamps can be updated. Changing tenant status or type may trigger validation rules and workflow approvals.
      operationId: updateTenant
      parameters:
        - name: id
          in: path
          description: Unique identifier (UUID) of the tenant to update
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantDTO'
        required: true
      responses:
        '200':
          description: Tenant successfully updated - Returns updated tenant with new version number
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantDTO'
        '400':
          description: Invalid input - Validation errors or business rule violations
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantDTO'
        '404':
          description: Tenant not found - The specified tenant ID does not exist
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantDTO'
        '409':
          description: Conflict - Version mismatch due to concurrent modification
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantDTO'
    delete:
      tags:
        - Tenant Management
      summary: Delete tenant
      description: Permanently deletes a tenant and all associated resources including settings, branding, provider relationships, and audit history. This is a destructive operation that cannot be undone. Consider deactivating the tenant instead by updating its status to INACTIVE. Deletion may fail if tenant has active transactions or dependencies.
      operationId: deleteTenant
      parameters:
        - name: id
          in: path
          description: Unique identifier (UUID) of the tenant to delete
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Tenant successfully deleted - No content returned
        '403':
          description: Forbidden - Insufficient permissions to delete tenant
        '404':
          description: Tenant not found - The specified tenant ID does not exist
        '409':
          description: Conflict - Cannot delete tenant with active dependencies or transactions
  /api/v1/tenant-statuses/{id}:
    get:
      tags:
        - Tenant Statuses
      summary: Get a tenant status by ID
      description: Returns a tenant status based on the ID
      operationId: getTenantStatusById
      parameters:
        - name: id
          in: path
          description: ID of the tenant status to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantStatusDTO'
        '404':
          description: Tenant status not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantStatusDTO'
    put:
      tags:
        - Tenant Statuses
      summary: Update an existing tenant status
      description: Updates an existing tenant status and returns it
      operationId: updateTenantStatus
      parameters:
        - name: id
          in: path
          description: ID of the tenant status to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantStatusDTO'
        required: true
      responses:
        '200':
          description: Tenant status updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantStatusDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantStatusDTO'
        '404':
          description: Tenant status not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantStatusDTO'
    delete:
      tags:
        - Tenant Statuses
      summary: Delete a tenant status
      description: Deletes a tenant status
      operationId: deleteTenantStatus
      parameters:
        - name: id
          in: path
          description: ID of the tenant status to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Tenant status deleted
        '404':
          description: Tenant status not found
  /api/v1/tenant-settings/{id}:
    get:
      tags:
        - Tenant Settings
      summary: Get tenant settings by ID
      operationId: getTenantSettingsById
      parameters:
        - name: id
          in: path
          description: ID of the tenant settings to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantSettingsDTO'
        '404':
          description: Tenant settings not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantSettingsDTO'
    put:
      tags:
        - Tenant Settings
      summary: Update existing tenant settings
      operationId: updateTenantSettings
      parameters:
        - name: id
          in: path
          description: ID of the tenant settings to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantSettingsDTO'
        required: true
      responses:
        '200':
          description: Tenant settings updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantSettingsDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantSettingsDTO'
        '404':
          description: Tenant settings not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantSettingsDTO'
    delete:
      tags:
        - Tenant Settings
      summary: Delete tenant settings
      operationId: deleteTenantSettings
      parameters:
        - name: id
          in: path
          description: ID of the tenant settings to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Tenant settings deleted
        '404':
          description: Tenant settings not found
  /api/v1/tenant-brandings/{id}:
    get:
      tags:
        - Tenant Brandings
      summary: Get a tenant branding by ID
      operationId: getTenantBrandingById
      parameters:
        - name: id
          in: path
          description: ID of the tenant branding to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantBrandingDTO'
        '404':
          description: Tenant branding not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantBrandingDTO'
    put:
      tags:
        - Tenant Brandings
      summary: Update an existing tenant branding
      operationId: updateTenantBranding
      parameters:
        - name: id
          in: path
          description: ID of the tenant branding to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantBrandingDTO'
        required: true
      responses:
        '200':
          description: Tenant branding updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantBrandingDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantBrandingDTO'
        '404':
          description: Tenant branding not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantBrandingDTO'
    delete:
      tags:
        - Tenant Brandings
      summary: Delete a tenant branding
      operationId: deleteTenantBranding
      parameters:
        - name: id
          in: path
          description: ID of the tenant branding to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Tenant branding deleted
        '404':
          description: Tenant branding not found
  /api/v1/providers/{id}:
    get:
      tags:
        - Provider Management
      summary: Retrieve provider by ID
      description: Fetches complete provider information including API configuration (production/sandbox URLs), supported capabilities, SLA commitments, compliance certifications, contract details, contact information, and current health status. Returns 404 if provider does not exist.
      operationId: getProviderById
      parameters:
        - name: id
          in: path
          description: Unique identifier (UUID) of the provider to retrieve
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Provider successfully retrieved
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
        '403':
          description: Access denied - Insufficient permissions to view this provider
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
        '404':
          description: Provider not found - The specified provider ID does not exist or has been deleted
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
    put:
      tags:
        - Provider Management
      summary: Update existing provider
      description: Updates provider configuration including API endpoints, capabilities, SLA commitments, certifications, contract details, contact information, and health monitoring settings. Uses optimistic locking via version field to prevent concurrent modification conflicts. Changing provider status may affect all tenant relationships using this provider. Health status and metrics are typically updated automatically by monitoring systems.
      operationId: updateProvider
      parameters:
        - name: id
          in: path
          description: Unique identifier (UUID) of the provider to update
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderDTO'
        required: true
      responses:
        '200':
          description: Provider successfully updated - Returns updated provider with new version number
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
        '400':
          description: Invalid input - Validation errors or business rule violations
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
        '404':
          description: Provider not found - The specified provider ID does not exist
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
        '409':
          description: Conflict - Version mismatch due to concurrent modification
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
    delete:
      tags:
        - Provider Management
      summary: Delete a provider
      description: Deletes a provider
      operationId: deleteProvider
      parameters:
        - name: id
          in: path
          description: ID of the provider to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Provider deleted
        '404':
          description: Provider not found
  /api/v1/provider-value-mappings/{id}:
    get:
      tags:
        - Provider Value Mappings
      summary: Get a provider value mapping by ID
      operationId: getProviderValueMappingById
      parameters:
        - name: id
          in: path
          description: ID of the provider value mapping to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderValueMappingDTO'
        '404':
          description: Provider value mapping not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderValueMappingDTO'
    put:
      tags:
        - Provider Value Mappings
      summary: Update an existing provider value mapping
      operationId: updateProviderValueMapping
      parameters:
        - name: id
          in: path
          description: ID of the provider value mapping to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderValueMappingDTO'
        required: true
      responses:
        '200':
          description: Provider value mapping updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderValueMappingDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderValueMappingDTO'
        '404':
          description: Provider value mapping not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderValueMappingDTO'
    delete:
      tags:
        - Provider Value Mappings
      summary: Delete a provider value mapping
      operationId: deleteProviderValueMapping
      parameters:
        - name: id
          in: path
          description: ID of the provider value mapping to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Provider value mapping deleted
        '404':
          description: Provider value mapping not found
  /api/v1/provider-types/{id}:
    get:
      tags:
        - Provider Types
      summary: Get a provider type by ID
      description: Returns a provider type based on the ID
      operationId: getProviderTypeById
      parameters:
        - name: id
          in: path
          description: ID of the provider type to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTypeDTO'
        '404':
          description: Provider type not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTypeDTO'
    put:
      tags:
        - Provider Types
      summary: Update an existing provider type
      description: Updates an existing provider type and returns it
      operationId: updateProviderType
      parameters:
        - name: id
          in: path
          description: ID of the provider type to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderTypeDTO'
        required: true
      responses:
        '200':
          description: Provider type updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTypeDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTypeDTO'
        '404':
          description: Provider type not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTypeDTO'
    delete:
      tags:
        - Provider Types
      summary: Delete a provider type
      description: Deletes a provider type
      operationId: deleteProviderType
      parameters:
        - name: id
          in: path
          description: ID of the provider type to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Provider type deleted
        '404':
          description: Provider type not found
  /api/v1/provider-tenants/{id}:
    get:
      tags:
        - Provider-Tenant Relationships
      summary: Retrieve provider-tenant relationship by ID
      description: Fetches complete provider-tenant relationship configuration including priority, billing settings (cost per transaction, monthly fees, transaction limits), configuration overrides, failover settings, circuit breaker configuration, approval details, and usage metrics (total requests, failures, average response time).
      operationId: getProviderTenantById
      parameters:
        - name: id
          in: path
          description: Unique identifier (UUID) of the provider-tenant relationship to retrieve
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Provider-tenant relationship successfully retrieved
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
        '403':
          description: Access denied - Insufficient permissions to view this relationship
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
        '404':
          description: Provider-tenant relationship not found - The specified relationship ID does not exist
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
    put:
      tags:
        - Provider-Tenant Relationships
      summary: Update an existing provider-tenant relationship
      description: Updates an existing provider-tenant relationship and returns it
      operationId: updateProviderTenant
      parameters:
        - name: id
          in: path
          description: ID of the provider-tenant relationship to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderTenantDTO'
        required: true
      responses:
        '200':
          description: Provider-tenant relationship updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
        '404':
          description: Provider-tenant relationship not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
    delete:
      tags:
        - Provider-Tenant Relationships
      summary: Delete a provider-tenant relationship
      description: Deletes a provider-tenant relationship
      operationId: deleteProviderTenant
      parameters:
        - name: id
          in: path
          description: ID of the provider-tenant relationship to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Provider-tenant relationship deleted
        '404':
          description: Provider-tenant relationship not found
  /api/v1/provider-statuses/{id}:
    get:
      tags:
        - Provider Statuses
      summary: Get a provider status by ID
      description: Returns a provider status based on the ID
      operationId: getProviderStatusById
      parameters:
        - name: id
          in: path
          description: ID of the provider status to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderStatusDTO'
        '404':
          description: Provider status not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderStatusDTO'
    put:
      tags:
        - Provider Statuses
      summary: Update an existing provider status
      description: Updates an existing provider status and returns it
      operationId: updateProviderStatus
      parameters:
        - name: id
          in: path
          description: ID of the provider status to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderStatusDTO'
        required: true
      responses:
        '200':
          description: Provider status updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderStatusDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderStatusDTO'
        '404':
          description: Provider status not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderStatusDTO'
    delete:
      tags:
        - Provider Statuses
      summary: Delete a provider status
      description: Deletes a provider status
      operationId: deleteProviderStatus
      parameters:
        - name: id
          in: path
          description: ID of the provider status to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Provider status deleted
        '404':
          description: Provider status not found
  /api/v1/provider-parameters/{id}:
    get:
      tags:
        - Provider Parameters
      summary: Get a provider parameter by ID
      operationId: getProviderParameterById
      parameters:
        - name: id
          in: path
          description: ID of the provider parameter to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderParameterDTO'
        '404':
          description: Provider parameter not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderParameterDTO'
    put:
      tags:
        - Provider Parameters
      summary: Update an existing provider parameter
      operationId: updateProviderParameter
      parameters:
        - name: id
          in: path
          description: ID of the provider parameter to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderParameterDTO'
        required: true
      responses:
        '200':
          description: Provider parameter updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderParameterDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderParameterDTO'
        '404':
          description: Provider parameter not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderParameterDTO'
    delete:
      tags:
        - Provider Parameters
      summary: Delete a provider parameter
      operationId: deleteProviderParameter
      parameters:
        - name: id
          in: path
          description: ID of the provider parameter to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Provider parameter deleted
        '404':
          description: Provider parameter not found
  /api/v1/feature-flags/{id}:
    get:
      tags:
        - Feature Flags
      summary: Get a feature flag by ID
      operationId: getFeatureFlagById
      parameters:
        - name: id
          in: path
          description: ID of the feature flag to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FeatureFlagDTO'
        '404':
          description: Feature flag not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FeatureFlagDTO'
    put:
      tags:
        - Feature Flags
      summary: Update an existing feature flag
      operationId: updateFeatureFlag
      parameters:
        - name: id
          in: path
          description: ID of the feature flag to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureFlagDTO'
        required: true
      responses:
        '200':
          description: Feature flag updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FeatureFlagDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FeatureFlagDTO'
        '404':
          description: Feature flag not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FeatureFlagDTO'
    delete:
      tags:
        - Feature Flags
      summary: Delete a feature flag
      operationId: deleteFeatureFlag
      parameters:
        - name: id
          in: path
          description: ID of the feature flag to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Feature flag deleted
        '404':
          description: Feature flag not found
  /api/v1/environment-configs/{id}:
    get:
      tags:
        - Environment Configurations
      summary: Get environment configuration by ID
      operationId: getEnvironmentConfigById
      parameters:
        - name: id
          in: path
          description: ID of the environment configuration to retrieve
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnvironmentConfigDTO'
        '404':
          description: Environment configuration not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnvironmentConfigDTO'
    put:
      tags:
        - Environment Configurations
      summary: Update an existing environment configuration
      operationId: updateEnvironmentConfig
      parameters:
        - name: id
          in: path
          description: ID of the environment configuration to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentConfigDTO'
        required: true
      responses:
        '200':
          description: Environment configuration updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnvironmentConfigDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnvironmentConfigDTO'
        '404':
          description: Environment configuration not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnvironmentConfigDTO'
    delete:
      tags:
        - Environment Configurations
      summary: Delete an environment configuration
      operationId: deleteEnvironmentConfig
      parameters:
        - name: id
          in: path
          description: ID of the environment configuration to delete
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Environment configuration deleted
        '404':
          description: Environment configuration not found
  /api/v1/channel-configs/{id}:
    get:
      tags:
        - Channel Configuration
      summary: Get channel config by ID
      description: Retrieve a specific channel configuration by its ID
      operationId: getChannelConfigById
      parameters:
        - name: id
          in: path
          description: Channel config ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Channel config found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChannelConfigDTO'
        '404':
          description: Channel config not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChannelConfigDTO'
    put:
      tags:
        - Channel Configuration
      summary: Update a channel config
      description: Update an existing channel configuration
      operationId: updateChannelConfig
      parameters:
        - name: id
          in: path
          description: Channel config ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelConfigDTO'
        required: true
      responses:
        '200':
          description: Channel config updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChannelConfigDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChannelConfigDTO'
        '404':
          description: Channel config not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChannelConfigDTO'
    delete:
      tags:
        - Channel Configuration
      summary: Delete a channel config
      description: Soft delete a channel configuration (sets active=false)
      operationId: deleteChannelConfig
      parameters:
        - name: id
          in: path
          description: Channel config ID
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Channel config deleted
        '404':
          description: Channel config not found
  /api/v1/channel-config-parameters/{id}:
    get:
      tags:
        - Channel Config Parameters
      summary: Get channel config parameter by ID
      description: Retrieves a channel config parameter by its ID
      operationId: getById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Channel config parameter found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChannelConfigParameterDTO'
        '404':
          description: Channel config parameter not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChannelConfigParameterDTO'
    put:
      tags:
        - Channel Config Parameters
      summary: Update channel config parameter
      description: Updates an existing channel config parameter
      operationId: update
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelConfigParameterDTO'
        required: true
      responses:
        '200':
          description: Channel config parameter updated successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChannelConfigParameterDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChannelConfigParameterDTO'
        '404':
          description: Channel config parameter not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChannelConfigParameterDTO'
    delete:
      tags:
        - Channel Config Parameters
      summary: Delete channel config parameter
      description: Deletes a channel config parameter (soft delete)
      operationId: delete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Channel config parameter deleted successfully
        '404':
          description: Channel config parameter not found
  /api/v1/webhook-configs:
    post:
      tags:
        - Webhook Configuration
      summary: Create a new webhook configuration
      description: Creates a new webhook for receiving real-time event notifications. Required fields include webhook name, target URL, and event types to subscribe to. Configure authentication (NONE, BASIC, BEARER, API_KEY, HMAC, OAUTH2), retry behavior (max attempts, delay, exponential backoff), timeout settings, batching options, and circuit breaker thresholds. Webhooks can be tenant-specific or provider-specific. SSL verification is enabled by default for security.
      operationId: createWebhookConfig
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookConfigDTO'
        required: true
      responses:
        '201':
          description: Webhook configuration successfully created - Returns the created webhook with generated ID
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookConfigDTO'
        '400':
          description: Invalid input - Validation errors (e.g., invalid URL, unsupported event types, invalid auth config)
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookConfigDTO'
        '409':
          description: Conflict - A webhook with similar configuration already exists for this tenant/provider
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebhookConfigDTO'
  /api/v1/webhook-configs/filter:
    post:
      tags:
        - Webhook Configuration
      summary: Search and filter webhook configurations
      description: Performs advanced filtering and pagination of webhook configurations. Supports filtering by tenant, provider, event types, enabled status, health status, and authentication type. Results include delivery metrics for monitoring webhook performance. Useful for webhook management dashboards and troubleshooting.
      operationId: filterWebhookConfigs
      parameters:
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.tenantId
          in: query
          description: Exact filter for tenant id
          required: false
          schema:
            type: string
        - name: filters.providerId
          in: query
          description: Exact filter for provider id
          required: false
          schema:
            type: string
        - name: filters.webhookName
          in: query
          description: Exact filter for webhook name
          required: false
          schema:
            type: string
        - name: filters.webhookUrl
          in: query
          description: Exact filter for webhook url
          required: false
          schema:
            type: string
        - name: filters.description
          in: query
          description: Exact filter for description
          required: false
          schema:
            type: string
        - name: filters.eventTypes
          in: query
          description: Exact filter for event types
          required: false
          schema:
            type: string
        - name: filters.httpMethod
          in: query
          description: Exact filter for http method
          required: false
          schema:
            type: string
        - name: filters.contentType
          in: query
          description: Exact filter for content type
          required: false
          schema:
            type: string
        - name: filters.webhookVersion
          in: query
          description: Exact filter for webhook version
          required: false
          schema:
            type: string
        - name: filters.authType
          in: query
          description: Exact filter for auth type
          required: false
          schema:
            type: string
        - name: filters.authHeaderName
          in: query
          description: Exact filter for auth header name
          required: false
          schema:
            type: string
        - name: filters.authHeaderValue
          in: query
          description: Exact filter for auth header value
          required: false
          schema:
            type: string
        - name: filters.secretKey
          in: query
          description: Exact filter for secret key
          required: false
          schema:
            type: string
        - name: filters.signatureAlgorithm
          in: query
          description: Exact filter for signature algorithm
          required: false
          schema:
            type: string
        - name: filters.signatureHeaderName
          in: query
          description: Exact filter for signature header name
          required: false
          schema:
            type: string
        - name: filters.verifySsl
          in: query
          description: Exact filter for verify ssl
          required: false
          schema:
            type: boolean
        - name: filters.followRedirects
          in: query
          description: Exact filter for follow redirects
          required: false
          schema:
            type: boolean
        - name: filters.customHeaders
          in: query
          description: Exact filter for custom headers
          required: false
          schema:
            type: string
        - name: filters.timeoutSeconds
          in: query
          description: Exact filter for timeout seconds
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[timeoutSeconds].from
          in: query
          description: Filter timeout seconds from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[timeoutSeconds].to
          in: query
          description: Filter timeout seconds to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.retryEnabled
          in: query
          description: Exact filter for retry enabled
          required: false
          schema:
            type: boolean
        - name: filters.maxRetryAttempts
          in: query
          description: Exact filter for max retry attempts
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[maxRetryAttempts].from
          in: query
          description: Filter max retry attempts from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[maxRetryAttempts].to
          in: query
          description: Filter max retry attempts to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.retryDelaySeconds
          in: query
          description: Exact filter for retry delay seconds
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[retryDelaySeconds].from
          in: query
          description: Filter retry delay seconds from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[retryDelaySeconds].to
          in: query
          description: Filter retry delay seconds to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.retryBackoffMultiplier
          in: query
          description: Exact filter for retry backoff multiplier
          required: false
          schema:
            type: number
        - name: rangeFilters.ranges[retryBackoffMultiplier].from
          in: query
          description: Filter retry backoff multiplier from value
          required: false
          schema:
            type: number
        - name: rangeFilters.ranges[retryBackoffMultiplier].to
          in: query
          description: Filter retry backoff multiplier to value
          required: false
          schema:
            type: number
        - name: filters.maxRetryDelaySeconds
          in: query
          description: Exact filter for max retry delay seconds
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[maxRetryDelaySeconds].from
          in: query
          description: Filter max retry delay seconds from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[maxRetryDelaySeconds].to
          in: query
          description: Filter max retry delay seconds to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.batchEvents
          in: query
          description: Exact filter for batch events
          required: false
          schema:
            type: boolean
        - name: filters.batchSize
          in: query
          description: Exact filter for batch size
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[batchSize].from
          in: query
          description: Filter batch size from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[batchSize].to
          in: query
          description: Filter batch size to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.batchWindowSeconds
          in: query
          description: Exact filter for batch window seconds
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[batchWindowSeconds].from
          in: query
          description: Filter batch window seconds from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[batchWindowSeconds].to
          in: query
          description: Filter batch window seconds to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.batchTimeoutSeconds
          in: query
          description: Exact filter for batch timeout seconds
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[batchTimeoutSeconds].from
          in: query
          description: Filter batch timeout seconds from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[batchTimeoutSeconds].to
          in: query
          description: Filter batch timeout seconds to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.deadLetterQueueEnabled
          in: query
          description: Exact filter for dead letter queue enabled
          required: false
          schema:
            type: boolean
        - name: filters.maxDeadLetterRetries
          in: query
          description: Exact filter for max dead letter retries
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[maxDeadLetterRetries].from
          in: query
          description: Filter max dead letter retries from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[maxDeadLetterRetries].to
          in: query
          description: Filter max dead letter retries to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.asyncProcessing
          in: query
          description: Exact filter for async processing
          required: false
          schema:
            type: boolean
        - name: filters.priority
          in: query
          description: Exact filter for priority
          required: false
          schema:
            type: string
        - name: filters.circuitBreakerEnabled
          in: query
          description: Exact filter for circuit breaker enabled
          required: false
          schema:
            type: boolean
        - name: filters.circuitBreakerThreshold
          in: query
          description: Exact filter for circuit breaker threshold
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[circuitBreakerThreshold].from
          in: query
          description: Filter circuit breaker threshold from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[circuitBreakerThreshold].to
          in: query
          description: Filter circuit breaker threshold to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.circuitBreakerTimeoutSeconds
          in: query
          description: Exact filter for circuit breaker timeout seconds
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[circuitBreakerTimeoutSeconds].from
          in: query
          description: Filter circuit breaker timeout seconds from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[circuitBreakerTimeoutSeconds].to
          in: query
          description: Filter circuit breaker timeout seconds to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.lastTriggeredAt
          in: query
          description: Exact filter for last triggered at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[lastTriggeredAt].from
          in: query
          description: Filter last triggered at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[lastTriggeredAt].to
          in: query
          description: Filter last triggered at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.totalTriggersCount
          in: query
          description: Exact filter for total triggers count
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[totalTriggersCount].from
          in: query
          description: Filter total triggers count from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[totalTriggersCount].to
          in: query
          description: Filter total triggers count to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.totalSuccessCount
          in: query
          description: Exact filter for total success count
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[totalSuccessCount].from
          in: query
          description: Filter total success count from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[totalSuccessCount].to
          in: query
          description: Filter total success count to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.totalFailureCount
          in: query
          description: Exact filter for total failure count
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[totalFailureCount].from
          in: query
          description: Filter total failure count from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[totalFailureCount].to
          in: query
          description: Filter total failure count to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.averageResponseTimeMs
          in: query
          description: Exact filter for average response time ms
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[averageResponseTimeMs].from
          in: query
          description: Filter average response time ms from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[averageResponseTimeMs].to
          in: query
          description: Filter average response time ms to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.lastSuccessAt
          in: query
          description: Exact filter for last success at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[lastSuccessAt].from
          in: query
          description: Filter last success at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[lastSuccessAt].to
          in: query
          description: Filter last success at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.lastFailureAt
          in: query
          description: Exact filter for last failure at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[lastFailureAt].from
          in: query
          description: Filter last failure at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[lastFailureAt].to
          in: query
          description: Filter last failure at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.lastFailureReason
          in: query
          description: Exact filter for last failure reason
          required: false
          schema:
            type: string
        - name: filters.healthStatus
          in: query
          description: Exact filter for health status
          required: false
          schema:
            type: string
        - name: filters.consecutiveFailureCount
          in: query
          description: Exact filter for consecutive failure count
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[consecutiveFailureCount].from
          in: query
          description: Filter consecutive failure count from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[consecutiveFailureCount].to
          in: query
          description: Filter consecutive failure count to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.healthCheckEnabled
          in: query
          description: Exact filter for health check enabled
          required: false
          schema:
            type: boolean
        - name: filters.healthCheckIntervalSeconds
          in: query
          description: Exact filter for health check interval seconds
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[healthCheckIntervalSeconds].from
          in: query
          description: Filter health check interval seconds from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[healthCheckIntervalSeconds].to
          in: query
          description: Filter health check interval seconds to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.enabled
          in: query
          description: Exact filter for enabled
          required: false
          schema:
            type: boolean
        - name: filters.metadata
          in: query
          description: Exact filter for metadata
          required: false
          schema:
            type: string
        - name: filters.active
          in: query
          description: Exact filter for active
          required: false
          schema:
            type: boolean
        - name: filters.version
          in: query
          description: Exact filter for version
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].from
          in: query
          description: Filter version from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].to
          in: query
          description: Filter version to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Filtered webhook configurations successfully retrieved with pagination metadata
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseWebhookConfigDTO'
        '400':
          description: Invalid filter criteria - Check filter syntax and field names
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseWebhookConfigDTO'
  /api/v1/tenants:
    post:
      tags:
        - Tenant Management
      summary: Create a new tenant
      description: Creates a new tenant instance in the Firefly platform. This establishes a new logical separation with independent configuration space. Required fields include code (unique identifier), name, and tenant status. Optional fields allow setting legal entity information, hierarchical relationships (parent tenant), risk ratings, compliance requirements, and subscription details. Upon creation, default settings and branding can be initialized automatically.
      operationId: createTenant
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantDTO'
        required: true
      responses:
        '201':
          description: Tenant successfully created - Returns the created tenant with generated ID and timestamps
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantDTO'
        '400':
          description: Invalid input - Validation errors in tenant data (e.g., duplicate code, missing required fields)
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantDTO'
        '409':
          description: Conflict - A tenant with the specified code already exists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TenantDTO'
  /api/v1/tenants/{tenantId}/providers:
    post:
      tags:
        - Tenant Management
      summary: Associate provider with tenant
      description: Creates a new provider-tenant relationship, enabling the tenant to use a specific external service provider. Configure provider-specific settings including priority (for load balancing), billing model, transaction limits, failover behavior, circuit breaker settings, and custom configuration overrides. Multiple providers of the same type can be configured with different priorities for redundancy and load distribution.
      operationId: addProviderToTenant
      parameters:
        - name: tenantId
          in: path
          description: Unique identifier (UUID) of the tenant
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderTenantDTO'
        required: true
      responses:
        '201':
          description: Provider successfully associated with tenant - Returns the created relationship configuration
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
        '400':
          description: Invalid input - Validation errors or invalid provider/tenant combination
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
        '404':
          description: Tenant or provider not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
        '409':
          description: Conflict - Provider already associated with this tenant
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTenantDTO'
  /api/v1/tenants/{tenantId}/providers/filter:
    post:
      tags:
        - Tenant Management
      summary: List tenant's provider relationships
      description: Retrieves all provider relationships configured for a specific tenant with filtering and pagination. Shows which external service providers (payment gateways, KYC services, etc.) are available to this tenant, including configuration overrides, billing settings, priority, failover configuration, and usage metrics. Useful for managing tenant-specific provider integrations and monitoring provider health.
      operationId: filterTenantProviders
      parameters:
        - name: tenantId
          in: path
          description: Unique identifier (UUID) of the tenant whose providers to retrieve
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequestProviderTenantDTO'
        required: true
      responses:
        '200':
          description: Provider relationships successfully retrieved with pagination metadata
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseProviderTenantDTO'
        '404':
          description: Tenant not found - The specified tenant ID does not exist
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseProviderTenantDTO'
  /api/v1/tenants/filter:
    post:
      tags:
        - Tenant Management
      summary: Search and filter tenants
      description: Performs advanced filtering and pagination of tenants based on multiple criteria. Supports filtering by status, type, risk rating, compliance tier, subscription tier, parent tenant, and custom metadata. Results are paginated and can be sorted by any field. Useful for administrative dashboards, reporting, and tenant discovery.
      operationId: filterTenants
      parameters:
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.code
          in: query
          description: Exact filter for code
          required: false
          schema:
            type: string
        - name: filters.name
          in: query
          description: Exact filter for name
          required: false
          schema:
            type: string
        - name: filters.description
          in: query
          description: Exact filter for description
          required: false
          schema:
            type: string
        - name: filters.tenantStatusId
          in: query
          description: Exact filter for tenant status id
          required: false
          schema:
            type: string
        - name: filters.countryId
          in: query
          description: Exact filter for country id
          required: false
          schema:
            type: string
        - name: filters.timezone
          in: query
          description: Exact filter for timezone
          required: false
          schema:
            type: string
        - name: filters.defaultCurrencyCode
          in: query
          description: Exact filter for default currency code
          required: false
          schema:
            type: string
        - name: filters.defaultLanguageCode
          in: query
          description: Exact filter for default language code
          required: false
          schema:
            type: string
        - name: filters.legalEntityName
          in: query
          description: Exact filter for legal entity name
          required: false
          schema:
            type: string
        - name: filters.taxIdentificationNumber
          in: query
          description: Exact filter for tax identification number
          required: false
          schema:
            type: string
        - name: filters.registrationNumber
          in: query
          description: Exact filter for registration number
          required: false
          schema:
            type: string
        - name: filters.incorporationDate
          in: query
          description: Exact filter for incorporation date
          required: false
          schema:
            type: string
        - name: filters.regulatoryLicenseNumber
          in: query
          description: Exact filter for regulatory license number
          required: false
          schema:
            type: string
        - name: filters.regulatoryAuthority
          in: query
          description: Exact filter for regulatory authority
          required: false
          schema:
            type: string
        - name: filters.businessContactName
          in: query
          description: Exact filter for business contact name
          required: false
          schema:
            type: string
        - name: filters.businessContactEmail
          in: query
          description: Exact filter for business contact email
          required: false
          schema:
            type: string
        - name: filters.businessContactPhone
          in: query
          description: Exact filter for business contact phone
          required: false
          schema:
            type: string
        - name: filters.technicalContactName
          in: query
          description: Exact filter for technical contact name
          required: false
          schema:
            type: string
        - name: filters.technicalContactEmail
          in: query
          description: Exact filter for technical contact email
          required: false
          schema:
            type: string
        - name: filters.technicalContactPhone
          in: query
          description: Exact filter for technical contact phone
          required: false
          schema:
            type: string
        - name: filters.parentTenantId
          in: query
          description: Exact filter for parent tenant id
          required: false
          schema:
            type: string
        - name: filters.tenantType
          in: query
          description: Exact filter for tenant type
          required: false
          schema:
            type: string
        - name: filters.industrySector
          in: query
          description: Exact filter for industry sector
          required: false
          schema:
            type: string
        - name: filters.employeeCountRange
          in: query
          description: Exact filter for employee count range
[...]
